<main>
    <section>
    Title
    <div class="titleInput">
        <input type="text" id="title">
    </div>
    Thought
    <div class="thoughtInput">
        <input type="text" id="thought">
    </div>
    <button class="addButton" (click) ="addThought(newThought)">Add Thought</button>
    </section>
</main>

<!-- <form #postForm="ngForm" class="thoughtForm" (ngSubmit)="submitPost(postForm)">
    <input type="text" class="titleInput" name="titleIn" placeholder="title" />
    <input type="text" class="thoughtInput" name="thoughtIn" placeholder="thoughts here"/>
    <button class="thoughtSubmit">Add Thought</button>
</form> -->



