.titlePost {
    font-size: 24px;
    font-family: 'Dosis', sans-serif;
}

.thoughtPost {
    width: 95%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    background: transparent;
    font-size: 1rem;
    font-family: 'Dosis', sans-serif;
    padding: 0;
}

.deleteButton {
    margin: auto;
    margin-top: 50px;
    margin-right: 20px;
    width: 10%;
    background-color: transparent;
    border: none;
}