@import '~font-awesome/css/font-awesome.css';

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    width: 75%;
}

section {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 50%;
    border-radius: 5px;
    border-style: solid;
    margin: 5px;
    padding-bottom: 10px;
}

h1 {
    margin: 0;
    font-size: 40px;
    font-family: 'Homemade Apple', cursive;
    color: rgb(3, 169, 244);
}

span {
    font-size: 24px;
    font-family: 'Dosis', sans-serif;
}

.addThought {
    width: 50.3%;
    height: 40px;
    margin: 5px;
    background-color: white;
    border-radius: 5px;
    border: none;
    border-style: solid;
    font-size: 15px;
    font-family: 'Dosis', sans-serif;
    padding: 5px;
}

p {
    position: relative;
    width: 95%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    background: transparent;
    font-size: 1rem;
    font-family: 'Dosis', sans-serif;
    padding: 0;
}

.delete {
    margin: auto;
    margin-right: 20px;
    width: 10%;
    background-color: transparent;
    border: none;
}